/* Style discription */
h1 {
    font-family:'Times New Roman', Times, serif;
    color: #290202; 
    font-size: 35px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 150px;
}

/* Style title */
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px; 
    color: rgb(0, 0, 91); 
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
}

/* Style subheadings */
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px; 
    color: rgb(0, 46, 139); 
    font-weight: bold;
    margin-left: 100px;
}

/* Style paragraphs */
.pa {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link-button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    
}


.home-button {
    background-color: lightgray;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 2px;
    cursor: pointer;
}

.footer-subheading {
    font-size:17px;
    color:#fff;
}

footer {
    background-color:#212529;
    display:flex;
    margin-top: 2% !important;
    padding-top: 25px;
    padding-bottom:30px;
    padding-left:40px;
}

footer ul {
    text-indent:-32px;
}

footer a {
    text-decoration:none;
    color:rgba(255, 255, 255, 0.55);
}

footer a:hover {
    text-decoration:none;
    transition-timing-function:ease-in-out;
    transition-duration:0.15s;
    transition-delay: 0s;
    color:rgba(255, 255, 255, 0.725);
}

footer div {
    margin-left:0;
    margin-right: 50px;
}


#TOP img {
    position:sticky;
    bottom:2px;
    margin-right:10px;
    float: right;
}

